<h4>詳細画面</h4>
<table>
  <thead>
    <tr>
      <th>title</th>
      <th>body</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
      </tr>
  </tbody>
</table>